body{
/* background-color: aqua; */
background-image: url(https://media.gettyimages.com/id/467864297/video/underwater-rays.jpg?s=640x640&k=20&c=GP4qen12C9xjVjkMKLCW38dVNJX2Cgt0SLEPH-SusOg=);
}


label{
color: blue;


}
ins{
color: aqua;
}